<!doctype html>
<html lang="en">
  <head>
    <title><%=title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-2">
            <a class="navbar-brand logo" href="/" >LOGO</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                 </form>
                
            </ul>
                <a class="navbar-brand" href="/shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</a>
                <% if(login){ %>
                <span class="badge"><%=session.cart.totalQty %></span>
                <%}else{%>
                <span class="badge">0</span>
                <%}%>
                <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" 
                                                data-toggle="dropdown" 
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user" aria-hidden="true"></i>  User Management</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownId">
                            <% if(login){ %>
                                <a class="dropdown-item" href="/user/profile"><li>User Account</li></a>
                                <a class="dropdown-item" href="/user/logout"><li>Logout</li></a>
                             <%}else{%>
                                <a class="dropdown-item" href="/user/signup"><li>Sign Up</li></a>
                                <a class="dropdown-item" href="/user/signin"><li>Sign In</li></a>
                            <%}%>
                        </ul>
                </div>
        </div>
    </nav> 