<% include ../header %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <h1 class="text-center">Welcome User</h1>
            </div>
        </div>    
    </div>
</html>